body.page-datatable{
  .page-content .wrapper{
    max-width: 100%;
  }
  .filter-container{
    background: #fff;
    
    .filter-element{
      min-width: 150px;
      max-width: 200px;
      margin-right: 10px;
      margin-bottom: 10px;

      &._interval-of-_data-_collection_filter_container{
        min-width: 220px;
        max-width: 250px;
      }
      &._individual-_level-_data-from-_pre__002d_c_o_v_i_d_filter_container{
        min-width: 320px;
        max-width: 320px;
      }
    }
  }
  // .datatable-container{
  //   overflow-x: scroll;
  // }
  table th{
    background: #fff;
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    background-color: #f3f3f3;
    min-width: 150px;
    position: sticky;
    top:-1px;
    z-index: 1;
  }
  table th.type,
  table td.type
  {
    display: none;
  }
}