body.page-datatable{
  
  .only_for_surveys{
    display: none;
  }

  &.surveys{
    .only_for_surveys{
      display:flex;
    }
  }
  
  .page-content .wrapper{
    max-width: 100%;
  }
  .filter-container{
    background: #fff;
    
    .filter-element{
      min-width: 120px;
      max-width: 200px;
      margin-right: 10px;
      margin-bottom: 10px;

      &._interval-of-_data-_collection_filter_container{
        min-width: 220px;
        max-width: 250px;
      }
      &._individual-_level-_data-from-_pre__002d_c_o_v_i_d_filter_container{
        min-width: 320px;
        max-width: 320px;
      }
    }
  }
  .datatable-container{
    @media (max-width: 1300px) {
      margin: 0 -30px;
      padding: 0 30px;
      overflow-x: auto;      
      max-width: 100vw;  
    }
    @media (max-width: 800px) {
      margin: 0 -15px;
      padding: 0 15px;
    }
  }
  .show-more{
    &::before{
      display:inline;
      content: attr(data-content);
    }
  }
  table{
    font-size: 15px;    
    border-collapse: separate;
    border-spacing: 0;
  }
  table th{
    background: #fff;
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    background-color: #f3f3f3;
    min-width: 100px;
    position: sticky;
    top:-1px;
    z-index: unset;
    white-space: nowrap;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #e8e8e8;
    user-select: none;
    .bootstrap-select{
      width: auto !important;
      max-width: 100%;
      min-width: 100%;
      .btn-light{
        background-color: #fff;
        border: 1px solid #ced4da;
      }
    }
    .desc,.asc{
      display: none;
      opacity: 0.4;
      padding: 5px;
      font-size: calc(1.2em + 10px);
      background: transparent;
      border-radius: 50%;
    }
    a[data-sortby]{
      display: inline-block;
      width: 100%;
      cursor: pointer;
      height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover{
        opacity: 0.7;
      }
    }
    a[data-sortby][data-order="false"]{
      .desc{
        display: inline-block;
      }
      .asc{
        display: none;
      }
    }
    a[data-sortby][data-order="true"]{
      .desc{
        display: none;
      }
      .asc{
        display: inline-block;
      }
    }
    a.active{
      .desc,.asc{
        opacity: 1;
        background: #CCC;
      }
    }
  }
  table th.title{
    z-index: 2;
  }
  table td{
    border-bottom: none;
    border-left: none;
  }
  table tr:first-child td{
    border-top: 0;
  }
  table td.country-coverage{
    width: 25%;
  }
  table td.policy-area{
    width: 25%;
  }
  table td.title{
    width: 15%;
    max-width: 280px;
  }
  table td.focus{
    max-width: 280px;
  }
  table th.type,
  table td.type
  {
    display: none;
  }

  &.surveys{
    table th{
      white-space: normal;
      font-size: 14px;
      vertical-align: top;
      padding-bottom: 54px;
      .filter-element,
      .form-control{
        position: absolute;
        bottom: 15px;
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
      }

      a[data-sortby]{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2px;
        &:hover{
          opacity: 0.7;
        }
        svg{
          flex-shrink: 0;
        }
      }
    }
  }
}