$font-family-heading: 'Montserrat', sans-serif;
$font-family-text: 'Montserrat', sans-serif;

$font-weight-heading: 600;
$font-weight-normal: 300;
$font-weight-bold: 600;

$primary-color: #1f627a;
$secondary-color: #a1c4d0;

/* MINIMA Defaults */
$base-font-family: $font-family-text;
$base-font-weight: $font-weight-normal;
$brand-color: $primary-color;