---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  
  <p>
    The criteria for inclusion into the supertracker are explained in the <a href="../documentation/">documentation</a>.
  </p>
  
  <form class="filter-container mb-3">
    
    <div>
      <div class="filter-metadata font-weight-bold mt-2 d-flex justify-content-between">
        <div class="d-flex align-items-end">
          <span>Results:</span> <span data-content="DATASETS_FOUND"></span> / <span data-content="DATASETS_TOTAL"></span>
        </div>
        <a href="#0" data-action="download-csv" class="btn btn-primary">Download as CSV</a>
      </div>      
    </div>

  </form>  
  
  
  <div class="datatable-container">
    {{content}}
  </div>
</article>

<script defer src="{{ "/assets/js/datatable.js" | relative_url }}"></script>
