---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  
  <p>
    The criteria for inclusion into the supertracker are explained in the <a href="../documentation/">documentation</a>.
  </p>
  
  <form class="filter-container mb-3" action="#0">
    
    <h4>Search</h4>
    <div class="d-flex justify-start flex-wrap" id="primaryfilter">
      <div class="filter-element">
        <input placeholder="Enter Searchterm" type="text" class="form-control" id="search_filter">
      </div>
    </div>    
    
    <h4 class="mt-4">Filter</h4>
    <div class="d-flex justify-start flex-wrap" id="filterlist">
    </div>    
    
    <h4 class="mt-4 only_for_surveys">Filter for Surveys</h4>
    <div class="justify-start flex-wrap only_for_surveys" id="surveyfilter">
    </div>

    <h4 class="mt-4">Sortierung</h4>
    <div class="d-flex justify-start flex-wrap" id="sortcontainer">
      <div class="filter-element">
        <label>Sort By</label>
        <select class="form-control" name="Sort By" id="sortby">
          <option value="1">Title</option>
          <option value="2">Policy Area</option>
          <option value="3">Focus</option>
          <option value="4">Country Coverage</option>
          <option value="5">Data Format</option>
          <option value="6">Authors</option>
        </select>
      </div>
      <div class="filter-element">
        <label>Order</label>
        <select class="form-control" name="Order" id="order">
          <option value="asc">Ascending</option>
          <option value="2">Descending</option>
        </select>
      </div>
    </div>

    <div>
      <div class="filter-metadata font-weight-bold mt-2">
        <span>Results:</span> <span data-content="DATASETS_FOUND"></span> / <span data-content="DATASETS_TOTAL"></span>
      </div>      
    </div>
    
  </form>  
  
  
  <div class="datatable-container">
    {{content}}
  </div>
</article>

<script defer src="{{ "/assets/js/datatable.js" | relative_url }}"></script>
